@import url('profile.css');
@import url('modals.css');
@import url('articles-forum-mentionslegales.css');
@import url('homepage.css');

@font-face
{
    font-family: 'Segoe UI' !important;
    src: url('fonts/segoeui.ttf') format('truetype');
    src: url('fonts/segoeuib.ttf') format('truetype');
    src: url('fonts/segoeuii.ttf') format('truetype');
    src: url('fonts/segoeuil.ttf') format('truetype');
    src: url('fonts/segoeuisl.ttf') format('truetype');
    src: url('fonts/segoeuiz.ttf') format('truetype');
    src: url('fonts/segoeuibl.ttf') format('truetype');
    src: url('fonts/segoeuibli.ttf') format('truetype');
    src: url('fonts/segoeuili.ttf') format('truetype');
    src: url('fonts/segoeuisb.ttf') format('truetype');
    src: url('fonts/segoeuisbi.ttf') format('truetype');
    src: url('fonts/segoeuisli.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-weight: 500;
    cursor: default;
    scroll-behavior: smooth;
    font-family: 'Segoe UI';
}

main
{
    min-height: calc(100vh - 206.8px);
    padding: 75px 0 10px 0;
}


/* NAVBAR ELEMENTS */

.logo-site
{
    width: 50px;
    height: 50px;
}


/* FOOTER ELEMENTS */

footer
{
    position: relative;
    width: 100%;
    background-image: url('http://localhost/images/beach-dog.jpg');
    background-position: 100% 50%;
    opacity: 0.9;
    background-size: cover;
    color: white;
}

footer .footer-elements
{
    padding: 20px 0 20px 20px;
}

footer a,
footer a:visited
{
    text-decoration: none;
    color: white;
    display: inline-block;
    align-content: center;
    margin-right: 20px;
    font-weight: 700;
}

footer a:hover
{
    color: #9bafe2;
    text-decoration: none;
}

footer p
{
    margin-bottom: 0;
}

footer .recommand-sites
{
    padding-top: 20px;
}

footer .logos
{
    display: flex;
    height: 70px;
    padding: 10px 0 40px 20px;
}

footer .logo-spa
{
    width: 30px;
    height: 30px;
}

footer .logo-spa:hover
{
    width: 40px;
    height: 40px;
}

footer .logo-30MAmis
{
    width: 20px;
    height: 30px;
}

footer .logo-30MAmis:hover
{
    width: 30px;
    height: 40px;
}


/* BUTTON STYLE FOR ALL THE SITE */

.fa-times
{
    color: red;
}

.fa-check
{
    color: green;
}

.btn-site,
.btn-site:visited,
.btn-site:active
{
    border: none;
    background-color: #0984e3;
    color: white !important;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
    font-style: none;
    font-size: 14px;
}

.btn-site:hover
{
    background-color: #273c75;
    text-decoration: none;
    color: white;
}


/* ALERTS ON THE SITE */
.showMessage
{
    z-index: 20;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.alert
{
    right: -200%;
    animation: alertMessages 5s linear alternate;
}

@keyframes alertMessages
{
    20%
    {
        right: 0;
    }
    80%
    {
        right: 0;
    }
}


/* TITLES, DATES AND TEXTS (POST + ARTICLE) */

.title
{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.date
{
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
}

.text
{
    font-size: 18px;
    font-weight: 100;
}

.username
{
    font-weight: 700;
    margin-bottom: 10px;
}


/* CONNECTION PAGE */

.content-form-co
{
    margin-top: 30vh;
}

/* LOGIN PAGE */

.login-container
{
    margin-top: 100px;
}


/* LEGAL NOTICES PAGE */

.container-notices,
.legal-notices-page
{
    padding-bottom: 2px;
}

.notices-show h3
{
    font-weight: 700;
}

.notices-show h3,
.notices-show div
{
    margin-bottom: 40px;
}

.notices-show .submenu-notice
{
    margin-left: 30px;
}


/* ARTICLE PAGE (COMMENTS & RESPONSES) */
/* Admin */

.form-add-article
{
    margin-top: 100px;
}


/* LIST ARTICLES PAGE */
/* Index */

.arrow-down,
.arrow-up,
.arrow-down-f,
.arrow-up-f
{
    z-index: 20;
    position: fixed;
    right: 25px;
    bottom: 35px;
    color: black;
}

.arrow-down-f,
.arrow-up-f
{
    bottom: 55px;
}

.container-arrows,
.container-arrows-forum
{
    position: fixed;
    right: 10px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrow-up,
.arrow-up-f,
.container-arrows,
.container-arrows-forum
{
    display: none;
}

.icon-arrow-down,
.icon-arrow-up,
.icon-arrow-down-f,
.icon-arrow-up-f
{
    cursor: pointer;
}

.articles-card-header
{
    display: flex;
    align-items: center;
}

.article-header .article-card-date
{
    font-size: 13px;
    font-style: italic;
}

.article-header .article-card-title
{
    font-size: 22px;
    font-weight: 600;
}

.list-articles .link-homepage
{
    margin: 20px 0 20px 20px;
}


/* LIST POSTS PAGE */
/* Index */

.list-posts
{
    margin-top: 20px;
}

.card-list-forum
{
    padding: 0;
    margin-bottom: 10px;
}


/* FORUM (POSTS LISTS) */

.navigation > div
{
    margin: 20px 0 20px 0;
}


/* FORUM POSTS PAGE (COMMENTS & RESPONSES) */
/* Show */

.member-not-exist
{
    font-style: italic;
}

.btn-resolve
{
    margin-left: 20px;
}


/* ADD POST PAGE */

.btn-send-new-post,
.btn-send-new-article,
.add-post-page,
.add-article-page
{
    margin-top: 20px;
}

.add-post-page,
.add-article-page
{
    margin: 0 20px 0 20px;
}


/* SEARCH PAGE */

.article-card-search,
.post-card-search
{
    margin: 20px 20px 20px 0;
}

.post-card-search
{
    padding: 0;
}

.title-article-search,
.title-post-search
{
    margin-top: 40px;
    text-align: center;
}

.pagination-articles,
.pagination-posts
{
    margin-top: 20px;
}

.page-link
{
    line-height: inherit !important;
}


/* ADMIN PAGE */

.table-list-members
{
    margin: 20px 0 20px 0;
}


/* MEDIA QUERY */

@media all and (max-width: 900px)
{
    .modal_connection,
    .modal_inscription
    {
        width: 50vw !important;
    }

    .modal_connection
    {
        height: 25vh;
    }

    .modal_inscription
    {
        height: 45vh;
    }

    /* Show article */
    .link-article-page
    {
        margin-top: 20px;
    }

    .btn-send-response
    {
        width: 15% !important;
    }
}

@media all and (max-width: 415px)
{
    .btn-site
    {
        font-size: 12px;
    }

    footer
    {
        text-shadow: 1px 1px 1px black;
    }

    /* HOMEPAGE */

    .slider-content
    {
        padding-top: 60px;
    }

    .slide
    {
        width: 100%;
    }

    .carousel-item
    {
        height: 35vh;
    }

    .carousel-item span
    {
        font-size: 15px;
        left: 10px;
        top: 35px !important;
        height: 45px !important;
    }

    .text-pug
    {
        width: 30% !important;
    }

    .text-foal
    {
        width: 50% !important;
    }

    .carousel-control-prev
    {
        left: 50vw !important;
        transform: translate(-100%, 0) !important;
    }

    .carousel-control-next
    {
        right: 50vw !important;
        transform: translate(100%, 0) !important;
    }

    .carousel-control-prev,
    .carousel-control-next
    {
        height: 45px !important;
        top: 170px;
    }

    .homepage,
    .article-box .article
    {
        flex-direction: column;
    }

    .homepage,
    .article-box .article
    {
        align-items: center;
    }

    .article-box
    {
        margin-left: 0;
    }

    .article-box .article .div-img
    {
        margin-bottom: 20px;
    }

    .sidebox
    {
        position: initial;
        width: 100vw;
    }

    .article-box .text-article,
    .article-box .title-article
    {
        word-wrap: break-word;
    }

    .article-box .title-article
    {
        font-size: 18px;
    }

    .article-box .text-article
    {
        font-size: 15px !important;
    }

    .article-box .article .containt-article
    {
        width: 150px;
    }

    .sidebox form input[type=submit]
    {
        width: 30%;
        margin-left: calc(70% - 1px);
    }

    .sidebox h4
    {
        font-size: 22px;
        font-weight: 500;
    }

    .sidebox form
    {
        font-size: 14px;
    }

    /* INDEX ARTICLES PAGE */

    .container-arrows,
    .container-arrows-forum
    {
        display: initial;
    }

    .articles-card-header
    {
        flex-direction: column;
    }

    /* SHOW ARTICLE PAGE + SHOW FORUM PAGE*/

    .article-page .btn-site,
    .forum-page .btn-site
    {
        height: 32px !important;
    }

    .article-show .text,
    .article-show .title,
    .forum-show .text,
    .forum-show .title
    {
        word-wrap: break-word;
    }

    .article-show .title,
    .forum-show .title
    {
        font-size: 18px;
    }

    .article-show .text-article,
    .forum-show .text-post,
    .category-post
    {
        font-size: 15px !important;
    }

    .form-edit-article input[type=file],
    .form-edit-post input[type=file]
    {
        width: 100%;
    }

    .btn-edit-article,
    .cancel-article,
    .btn-edit-post,
    .cancel-post
    {
        margin-left: 5px !important;
    }

    .container-btn-article,
    .container-btn-post
    {
        display: flex;
        flex-direction: column-reverse;
        height: 80px;
    }

    .like-article .btn-like-article,
    .like-article a,
    .btn-admin-article input[type=submit],
    .btn-admin-article a,
    .btn-admin-post input[type=submit],
    .btn-admin-post a,
    .response-btn
    {
        margin-bottom: 20px;
    }

    .btn-admin-article,
    .like-article,
    .btn-admin-post
    {
        position: initial !important;
    }

    .article-page .form-comment-article,
    .forum-page .form-comment-post,
    .comment-article .date,
    .comment-post .date
    {
        margin-top: 0 !important;
    }

    .article-page .article-comment .username,
    .forum-page .post-comment .username
    {
        font-weight: 600;
        font-size: 14px;
    }

    .article-page .article-comment .text-article-comment,
    .forum-page .post-comment .text-post-comment
    {
        width: 95%;
    }

    .contain-form-response
    {
        width: 80%;
        margin-left: 40px;
    }

    .contain-form-response input[type=submit]
    {
        width: 30%;
        margin-bottom: 20px;
    }

    .response-article,
    .response-post
    {
        margin-left: -10px;
    }

    .message-edit-response,
    .content-comment-edit
    {
        width: 100% !important;
    }

    .cancel-response,
    .btn-edit-response,
    .cancel-response-post,
    .cancel-comment-post,
    .btn-edit-comment
    {
        margin-right: 2px !important;
    }

    .article-comment .link-return-articles,
    .post-comment .link-return-posts
    {
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }

    .article-comment .link-article-page a,
    .forum-comment .link-post-page a
    {
        margin-left: 0;
    }


    /* PROFILE PAGE */

    .container-profile
    {
        width: 100%;
    }

    .profile-show
    {
        flex-direction: column;
    }

    .avatar
    {
        height: 100%;
        width: 100%;
    }

    .form-edit-member
    {
        margin: 15px 15px 0 0;
    }

    .info-profile
    {
        margin-top: 30px;
    }

    .main-profile .link-article-page
    {
        border-top: 3px solid #FBFBFB;
        padding-top: 20px;
        justify-content: center;
        margin: 0;
    }


    /* CONNECTION MODAL */

    .modal_connection
    {
        width: 100% !important;
        height: 52%;
    }


    /* INSCRIPTION MODAL */

    .modal_inscription
    {
        width: 100% !important;
        height: 90%;
        top: 55vh;
    }

    /* SEARCH PAGE */

    .article-card-search,
    .post-card-search
    {
        margin-left: 15px;
        max-width: 100% !important;
    }
}