@import url('profile.css');
@import url('modals.css');
@import url('articles-forum-mentionslegales.css');
@import url('homepage.css');
@import url('mediaquery');

@font-face
{
    font-family: 'Segoe UI' !important;
    src: url('fonts/segoeui.ttf') format('truetype');
    src: url('fonts/segoeuib.ttf') format('truetype');
    src: url('fonts/segoeuii.ttf') format('truetype');
    src: url('fonts/segoeuil.ttf') format('truetype');
    src: url('fonts/segoeuisl.ttf') format('truetype');
    src: url('fonts/segoeuiz.ttf') format('truetype');
    src: url('fonts/segoeuibl.ttf') format('truetype');
    src: url('fonts/segoeuibli.ttf') format('truetype');
    src: url('fonts/segoeuili.ttf') format('truetype');
    src: url('fonts/segoeuisb.ttf') format('truetype');
    src: url('fonts/segoeuisbi.ttf') format('truetype');
    src: url('fonts/segoeuisli.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-weight: 500;
    cursor: default;
    scroll-behavior: smooth;
    font-family: 'Segoe UI';
}

main
{
    min-height: calc(100vh - 206.8px);
    padding: 75px 0 10px 0;
}


/* NAVBAR ELEMENTS */

.logo-site
{
    width: 50px;
    height: 50px;
}


/* FOOTER ELEMENTS */

footer
{
    position: relative;
    width: 100%;
    background-image: url('http://lesnacs.fr/images/beach-dog.jpg');
    background-position: 100% 50%;
    opacity: 0.9;
    background-size: cover;
    color: white;
}

footer .footer-elements
{
    padding: 20px 0 20px 20px;
}

footer a,
footer a:visited
{
    text-decoration: none;
    color: white;
    display: inline-block;
    align-content: center;
    margin-right: 20px;
    font-weight: 700;
}

footer a:hover
{
    color: #9bafe2;
    text-decoration: none;
}

footer p
{
    margin-bottom: 0;
}

footer .recommand-sites
{
    padding-top: 20px;
}

footer .logos
{
    display: flex;
    height: 70px;
    padding: 10px 0 40px 20px;
}

footer .logo-spa
{
    width: 30px;
    height: 30px;
}

footer .logo-spa:hover
{
    width: 40px;
    height: 40px;
}

footer .logo-30MAmis
{
    width: 20px;
    height: 30px;
}

footer .logo-30MAmis:hover
{
    width: 30px;
    height: 40px;
}


/* BUTTON STYLE FOR ALL THE SITE */

.fa-times
{
    color: red;
}

.fa-check
{
    color: green !important;
}

.btn-site,
.btn-site:visited,
.btn-site:active
{
    border: none;
    background-color: #0984e3;
    color: white !important;
    padding: 7px;
    display: inline-block;
    text-decoration: none;
    font-style: none;
    font-size: 14px;
}

.btn-site:hover
{
    background-color: #273c75;
    text-decoration: none;
    color: white;
}


/* ALERTS ON THE SITE */
.showMessage
{
    z-index: 20;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.alert
{
    right: -200%;
    animation: alertMessages 5s linear alternate;
}

@keyframes alertMessages
{
    20%
    {
        right: 0;
    }
    80%
    {
        right: 0;
    }
}


/* TITLES, DATES AND TEXTS (POST + ARTICLE) */

.title
{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.date
{
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
}

.text
{
    font-size: 18px;
    font-weight: 100;
}

.username
{
    font-weight: 700;
    margin-bottom: 10px;
}


/* CONNECTION PAGE */

.content-form-co
{
    margin-top: 30vh;
}

/* LOGIN PAGE */

.login-container
{
    margin-top: 100px;
}

/* LOST PASSWORD PAGE AND RESET PASSWORD PAGE */

.lost_password,
.reset_password
{
    margin: 20px;
}

.lost_password .container
{
    width: 35%;
}

.lost_password h2,
.reset_password h2
{
    margin-bottom: 30px;
    text-align: center;
}

.lost_password_link,
.reset_password_link
{
    display: inline-block;
    margin-top: 20px;
}

.lost_password_link .fa-arrow-circle-left,
.reset_password_link .fa-arrow-circle-left
{
    padding-right: 10px;
}

/* RESET PASSWORD PAGE */

.reset_password .container
{
    width: 40%;
}

/* LEGAL NOTICES PAGE */

.container-notices,
.legal-notices-page
{
    padding-bottom: 2px;
}

.notices-show h3
{
    font-weight: 700;
}

.notices-show h3,
.notices-show div
{
    margin-bottom: 40px;
}

.notices-show .submenu-notice
{
    margin-left: 30px;
}


/* ARTICLE PAGE (COMMENTS & RESPONSES) */
/* Admin */

.add-article-page
{
    padding-top: 80px;
}

.form-add-article
{
    padding-top: 100px;
}


/* LIST ARTICLES PAGE */
/* Index */

.arrow-down,
.arrow-up,
.arrow-down-f,
.arrow-up-f
{
    z-index: 20;
    position: fixed;
    right: 25px;
    bottom: 35px;
    color: black;
}

.arrow-down-f,
.arrow-up-f
{
    bottom: 55px;
}

.container-arrows,
.container-arrows-forum
{
    position: fixed;
    right: 10px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.arrow-up,
.arrow-up-f,
.container-arrows,
.container-arrows-forum
{
    display: none;
}

.icon-arrow-down,
.icon-arrow-up,
.icon-arrow-down-f,
.icon-arrow-up-f
{
    cursor: pointer;
}

.articles-card-header
{
    display: flex;
    align-items: center;
}

.article-header .article-card-date
{
    font-size: 13px;
    font-style: italic;
}

.article-header .article-card-title
{
    font-size: 22px;
    font-weight: 600;
}

.list-articles .text-article-card
{
    padding: 12px 0;
    white-space: initial;
}

.list-articles .text-article-card ul,
.list-articles .text-article-card ol
{
    padding-left: 5px;
}

.list-articles .link-homepage
{
    margin: 20px 0 20px 20px;
}


/* LIST POSTS PAGE */
/* Index */

.list-posts
{
    margin-top: 20px;
}

.card-list-forum
{
    padding: 0;
    margin-bottom: 10px;
}


/* FORUM (POSTS LISTS) */

.navigation > div
{
    margin: 20px 0 20px 0;
}


/* FORUM POSTS PAGE (COMMENTS & RESPONSES) */
/* Show */

.member-not-exist
{
    font-style: italic;
}

.btn-resolve
{
    margin-left: 20px;
}

.label-comment-post
{
    width: 20px;
}

.btn-comment-post
{
    display: flex;
}

/* ADD POST PAGE */

.add-post-page
{
    padding-top: 80px;
}

.btn-send-new-post,
.btn-send-new-article,
.add-post-page,
.add-article-page
{
    margin-top: 20px;
}

.add-post-page,
.add-article-page
{
    margin: 0 20px 0 20px;
}


/* SEARCH PAGE */

.article-card-search,
.post-card-search
{
    margin: 20px 20px 20px 0;
}

.post-card-search
{
    padding: 0;
}

.title-article-search,
.title-post-search
{
    margin-top: 40px;
    text-align: center;
}

.pagination-articles,
.pagination-posts
{
    margin-top: 20px;
}

.page-link
{
    line-height: inherit !important;
}


/* ADMIN PAGE */

.table-list-members
{
    margin: 20px 0 20px 0;
}